<footer class="footer">
    <div class="container">
        <div class="footer-column">
            <div class="footer-column__item">
                <nav class="footer-nav">
                    <ul class="nav-list">
                        <li class="nav-list__item"><a href="#">Пункт 1</a></li>
                        <li class="nav-list__item"><a href="#">Пункт 2</a></li>
                        <li class="nav-list__item"><a href="#">Пункт 3</a></li>
                        <li class="nav-list__item"><a href="#">Пункт 4</a></li>
                        <li class="nav-list__item"><a href="#">Пункт 5</a></li>
                        <li class="nav-list__item"><a href="#">Пункт 6</a></li>
                        <li class="nav-list__item"><a href="#">Пункт 7</a></li>
                        <li class="nav-list__item"><a href="#">Пункт 8</a></li>
                        <li class="nav-list__item"><a href="#">Пункт 9</a></li>
                        <li class="nav-list__item"><a href="#">Пункт 10</a></li>
                        <li class="nav-list__item"><a href="#">Пункт 11</a></li>
                        <li class="nav-list__item"><a href="#">Пункт 12</a></li>
                        <li class="nav-list__item"><a href="#">Пункт 13</a></li>
                        <li class="nav-list__item"><a href="#">Пункт 14</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="footer-column">
            <div class="footer-column__item">
                <nav class="footer-nav">
                    <ul class="nav-list">
                        <li class="nav-list__item nav-list__item--mark"><a href="#">Поисковое продвижение сайтов</a></li>
                        <li class="nav-list__item nav-list__item--mark"><a href="#">Тарифф "Новый"</a></li>
                        <li class="nav-list__item nav-list__item--mark"><a href="#">Тарифф "Новый"</a></li>
                        <li class="nav-list__item nav-list__item--mark"><a href="#">Тарифф "Новый"</a></li>
                        <li class="nav-list__item nav-list__item--mark"><a href="#">Тарифф "Новый"</a></li>
                        <li class="nav-list__item nav-list__item--mark"><a href="#">Тарифф "Новый"</a></li>
                        <li class="nav-list__item nav-list__item--mark"><a href="#">Тарифф "Новый"</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="footer-column">
            <div class="footer-column__item footer-column__item--medium"></div>
            <div class="footer-column__item footer-column__item--medium"></div>
        </div>
    </div>
</footer>