<header class="header">
    <div class="container">
        <div class="header__logo"></div>
        <div class="header__contact"></div>
        <div class="header__other">
            <ul class="contacts-list">
                <li class="contacts-list__item">
                    <a href="tel:+375293711041">+375 (29) 371-10-41</a>
                </li>
                <li class="contacts-list__item">
                    <a href="mailto:info@increase.by">info@increase.by</a>
                </li>
                <li class="contacts-list__item">
                    <a href="https://increase.by">www.increase.by</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<header class="header-mobile">
    <div class="header-mobile__container">
        <div class="header__logo"></div>
        <div class="header__contact"></div>
        <div class="header__other">
            <ul class="contacts-list">
                <li class="contacts-list__item">
                    <a href="tel:+375293711041">+375 (29) 371-10-41</a>
                </li>
                <li class="contacts-list__item">
                    <a href="mailto:info@increase.by">info@increase.by</a>
                </li>
                <li class="contacts-list__item">
                    <a href="https://increase.by">www.increase.by</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="burger">
        <div></div>
        <div></div>
        <div></div>
    </div>
</header>